*{
  margin: 0;
  padding: 0;
}
.banner{
  background: #ffffff;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo-section{
  display: flex;
  align-items: center;
}

.logo-section >img{
  height: 50px;
  width: auto;
  padding-left: 90px;
  padding-bottom: 10px;
}
.link-section{
  margin-left: 300px;
}
.home,.about{
  padding-right: 80px;
    text-decoration: none;
    font-size: 18px;
}
.contact{
  padding-right: 100px;
  text-decoration: none;
  font-size: 18px;
}

body{
  background-image: url('/bannar4.jpg');
  height: 1050px;
}
.form-header{
  height: 900px;
  width: 800px;
  background-color: #ffffff;
  position: absolute;
  left: 25%;
  top: 18%;
  border-radius: 5px;
}
.form-header >h1{
  padding: 20px;
  font-style: bold;
}
.form-header >p{
  padding-left: 20px;
  padding-bottom: 20px;
  font-style: normal;
  font-size: 20px;
  font-weight: 200px;
  color: #beb7b7;
}
.div1{
  display: flex;
  justify-content: space-around;
}
.div1 > input {
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 8px;

}
.per-address,.curr-address{
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 8px;
  width: 688px;
  margin-left: 50px;
  margin-bottom: 30px;

}
.div2{
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.email.pass.phone.dob > textarea:focus, input:focus{
  outline: none;
}
.gender .interest > textarea:focus, select:focus{
  outline: none;
}
.email{
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 8px;
  margin-left: 46px;
  width: 300px;
}
.pass{
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 8px;
  margin-left: 72px;
  width: 300px;
}
.phone{
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 8px;
  margin-left: 44px;
  width: 300px;

}
.dob{
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 8px;
  margin-left: 47px;
  width: 300px;
  margin-top: 15px;
}
.div3{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.div3>p{
  margin-left: 54px;
  font-size: 15px;

}
.div4>p{
  margin-left: 90px;
  font-size: 15px;


}
.div4{
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.div5{
  margin-top: 25px;
}
.gender{
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 8px;
  margin-left: 74px;
  width: 315px;

}
.interest{
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 8px;
  margin-left: 73px;
  width: 317px;
  height: 55px;
}
.per-add,.cur-add{
  padding-left: 20px;
  padding-bottom: 20px;
  font-style: normal;
  font-size: 20px;
  font-weight: 200px;
  color: #beb7b7;
}
.per-add1,.cur-add1{
  margin-left: 27px;
  margin-bottom: 30px;
}
.per-add1 input,.cur-add1 input{
  margin-left: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 8px;
  width: 152px;
}
.button{
  margin-left: 30px;
  margin-top: 10px;
  width: 744px;
  padding: 10px;
  color: white;
  background-color: #28a465;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 20px;

}
.dob-hobbies{
  display: flex;
}