*{
  margin: 0;
  padding: 0;
}
.banner{
  background: #ffffff;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo-section{
  display: flex;
  align-items: center;
}
.logo-section >img{
  height: 50px;
  width: auto;
  padding-left: 90px;
  padding-bottom: 10px;
}
.link-section{
  margin-left: 300px;
}
.home,.about{
  padding-right: 80px;
    text-decoration: none;
    font-size: 18px;
}
.contact{
  padding-right: 100px;
  text-decoration: none;
  font-size: 18px;
}


body{
  background-image: url('/images/bannar4.jpg');
  height: 1250px;
}
.form-header{
  height: 1030px;
  width: 800px;
  background-color: #ffffff;
  position: absolute;
  left: 25%;
  top: 17%;
  border-radius: 5px;
}
.form-header >h1{
  padding: 20px;
  font-style: bold;
}
.form-header >p{
  padding-left: 20px;
  padding-bottom: 20px;
  font-style: normal;
  font-size: 20px;
  font-weight: 200px;
}
.div1{
  display: flex;
  justify-content: space-around;
}
.fname > input,.mname>input,.lname>input{
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 8px;

}
.fname.success input,.mname.success input,.lname.success input,.email.success input,.pass.success input,.phone.success>input,.dob.success>input,.gender.success>select,.interest.success>select,.state.success>input,.city.success>input,.zip.success>input,.country.success>input,.permanent_address.success >input,.current_address.success>input,.state1.success>input,.city1.success>input,.zip1.success>input,.country1.success>input{
  border-bottom-color: green;
}
.fname.error input,.mname.error input,.lname.error input,.email.error input,.pass.error input,.phone.error>input,.dob.error>input,.gender.error>select,.interest.error>select,.zip.error>input,.city.error>input,.state.error>input,.country.error>input,.permanent_address.error>input,.current_address.error>input,.city1.error>input,.state1.error>input,.country1.error>input,.zip1.error>input{
  border-bottom-color: red;
}
.fname i,.mname i,.lname i,.email i,.pass i,.phone i,.dob i,.gender i,.interest i,.city i,.state i,.country i,.zip i,.city1 i,.state1 i,.country1 i,.zip1 i{
  visibility: hidden;
}
.fname.success i.fa-check-circle,.mname.success i.fa-check-circle,.email.success i.fa-check-circle,.phone.success i.fa-check-circle{
  color: green;
  visibility: visible;
}
.gender.success i.fa-check-circle,.pass.success i.fa-check-circle,.lname.success i.fa-check-circle{
  color: green;
  visibility: visible;
  margin-left: 21px;

}
.current_address.success i.fa-check-circle,.permanent_address.success i.fa-check-circle,.city.success i.fa-check-circle,.state.success i.fa-check-circle,.country.success i.fa-check-circle,.zip.success i.fa-check-circle,.city1.success i.fa-check-circle,.state1.success i.fa-check-circle,.country1.success i.fa-check-circle,.zip1.success i.fa-check-circle{
  color: green;
  visibility: visible;

}
.lname.error i.fa-exclamation-circle,.current_address.error i.fa-exclamation-circle,.permanent_address.error i.fa-exclamation-circle,.fname.error i.fa-exclamation-circle,.mname.error i.fa-exclamation-circle,.email.error i.fa-exclamation-circle,.pass.error i.fa-exclamation-circle{
  color: red;
  visibility: visible;
}
.phone.error i.fa-exclamation-circle,.gender.error i.fa-exclamation-circle{
  color: red;
  visibility: visible;
  margin-top: 25px;
}
.dob.success i.fa-check-circle{
  color: green;
  visibility: visible;
  position: absolute;
  margin-top: -26px;
    left: 46%; 

}
.interest.success i.fa-check-circle{
  color: green;
  visibility: visible;
  position: absolute;
  margin-top: -26px;
    left: 95%;

}
.city1.success i.fa-check-circle,.country1.success i.fa-check-circle,.city.success i.fa-check-circle,.country.success i.fa-check-circle,.state.success i.fa-check-circle,.zip.success i.fa-check-circle,.state1.success i.fa-check-circle,.zip1.success i.fa-check-circle{
  margin-left: 21px;
}

.dob.error i.fa-exclamation-circle{
  color: red;
  visibility: visible;
  margin-top: 25px;
  position: absolute;
    top: 33%;
    left: 46%; 
}
.interest.error i.fa-exclamation-circle{
  color: red;
  visibility: visible;
  margin-top: 25px;
  position: absolute;
    top: 33%;
    left: 95%; 
}
.zip.error i.fa-exclamation-circle,.city.error i.fa-exclamation-circle,.state.error i.fa-exclamation-circle,.country.error i.fa-exclamation-circle,.zip1.error i.fa-exclamation-circle,.city1.error i.fa-exclamation-circle,.state1.error i.fa-exclamation-circle,.country1.error i.fa-exclamation-circle{
  color: red;
  visibility: visible;
}
.zip1.error i.fa-exclamation-circle{
  position: absolute;
  margin-left: 1px;
  margin-top: 10px;
}
.permanent_address i{
  visibility: hidden;
}
.current_address i{
  visibility: hidden;
}
.error_mess{
  padding-right: 10px;
  display: none;
}
.error_mess.error{
  display: block;
  color: red;
}
.permanent_address i.fa-check-circle,.permanent_address  i.fa-exclamation-circle{
  position: absolute;
  right: 12%;
  margin-top: 10px;
  right: 4%;
}
.current_address i.fa-check-circle,.current_address  i.fa-exclamation-circle{
  position: absolute;
  right: 12%;
  margin-top: 10px;
  right: 4%;
}

.div2{
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.div2-email-pass,.div2-phone-dob,.div2-per,.div2-curr{
  margin-bottom: 20px;
  display: flex;
}
.div2-gender-interest{
  display: flex;
  flex-direction: column;
}
.email,.phone,.gender{
  width: 50%;
  margin-left: 25px;

}
.birthday{
  display: flex;
  flex-direction: column;
}
.birthday >p{
  margin-left: 34px;
  font-size: 15px;
}
.dob>input{
  margin-left: 26px;
  margin-top: 16px;
}
.gender{
  margin-bottom: 20px;
}
.gender>select{
  margin-left: -13px;
}
.interest>select{
  margin-left: 20px;
  height: 55px;
}
.interest.error>select,.interest.success>select{
  margin-left: 40px;
}
.div2-gender-interest.error>p{
margin-left: 55px;
}
.div2-gender-interest.success>p{
  margin-left: 55px;
}
.div2-gender-interest>p{
  margin-left: 37px;
}
.pass,.dob,.interest{
  width: 50%;
}
.email >input,.pass >input,.phone>input,.dob>input,.gender>select,.interest>select{
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 8px;
  width: 307px;
}
/* .phone >input,.gender>select,.interest>select{
  margin-top: 25px;
} */
.gender >select,.interest>select{
  width: 323px;
}
.email.pass.phone.dob > textarea:focus, input:focus{
  outline: none;
}
.gender .interest > textarea:focus, select:focus{
  outline: none;
}
.city,.city1{
  margin-left: 28px;
  padding-right: 10px;
  width: 50%;
}
.permanent_address{
  margin-left: 4px;
}
.current_address{
  margin-left: 4px;
}
.state,.state1{
  width: 50%;
}
.country,.country1{
  width: 50%;
  margin-left: 28px;
}
.country{
  margin-bottom: 10px;
}
.zip,.zip1{
  width: 50%;
  margin-left: 13px;
}
.city >input,.state>input,.country>input,.city1 >input,.state1>input,.country1>input{
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 8px;
  width: 292px;
}
.zip>input,.zip1>input{
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 8px;
  width: 293px;

}
.per-add,.cur-add,.cap{
  padding-left: 20px;
  padding-bottom: 20px;
  font-style: normal;
  font-size: 20px;
  font-weight: 200px;
}
.captcha1{
  display: flex;
    margin-left: 20px;
    align-items: center;
}
.captcha1 >input{
  margin-left: 25px;
    height: 32px;
    width: 200px;
}
.captcha-btn{
  margin-left: 30px;
    height: 35px;
    width: 75px;
    background: green;
    color: white;
    font-size: 15px;
    border: none;
}
.captcha1 i{
  visibility: hidden;
}
.captcha1.success i.fa-check-circle{
color: green;
  visibility: visible;
  margin-left: 25px;
    font-size: 25px;
}
.valid_captcha{
  display: none;
}
.valid_captcha.error{
  display: block;
    color: red;
    font-weight: 600;
}
.per-address,.curr-address{
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 8px;
  width: 688px;
  margin-left: 23px;
  margin-bottom: 30px;

}
.btn{
  background: #8e44ad;
  color: #ffffff;
  padding: 10px;
  width: 95%;
  font-size: 17px;
  margin-top: 20px;
  margin-left: 18px;
  border: none;
}
.refresh{
  margin-left: 30px;
    height: 35px;
    width: 75px;
    background: green;
    color: white;
    font-size: 15px;
    border: none;
}
.error-mess-fname,.error-mess-mname,.error-mess-lname,.error-mess-email,.error-mess-pass,.error-mess-phone,.error-mess-dob,.error-mess-interest,.error-mess-gender,.error-mess-address,.error-mess-city,.error-mess-state,.error-mess-country,.error-mess-zip{
  display: none;
}
.fname.error>span,.mname.error>span,.lname.error>span,.email.error>span,.pass.error>span,.phone.error>span,.city.error>span,.country.error>span,.state.error>span,.zip.error>span,.city1.error>span,.state1.error>span,.country1.error>span,.zip1.error>span{
  display: block;
  position: absolute;
  color: red;
  margin-top: 5px;
  margin-left: 1px;
  font-size: 12px;
}
.gender.error>span{
  display: block;
  position: absolute;
  color: red;
  margin-top: 5px;
  margin-left: -12px;
  font-size: 12px;

}
.interest.error>span{
  display: block;
  position: absolute;
  color: red;
  margin-top: -13px;
  margin-left: 44px;
  font-size: 12px;

}
.dob.error >span{
  display: block;
  position: absolute;
  color: red;
  margin-top: -13px;
  margin-left: 28px;
  font-size: 12px;


}

.permanent_address.error>span,.current_address.error>span{
  display: block;
  position: absolute;
  color: red;
  margin-top: -24px;
  margin-left: 25px;
  font-size: 12px;
}
.cap{
  margin-top: 10px;
}
.fname.error >span,.lname.error>span,.mname.error>span{
  width: 212px;
    font-size: 12px;
}
.dob-hobbies{
  display: flex;
  margin-bottom: 15px;
}
.phone.success{
  margin-top: 14px;
}
.gender.success{
  margin-top: 16px;

}