.main-head{
    background-image: url(./bannar5.jpg);
    background-attachment: fixed; 
    overflow: hidden;
    overflow-y: scroll;
    background-size: cover;
    height: 1200px;
    width: 100vw;
}
.form-head{
    width: 600px;
    background-color: white;
    position: absolute;
    left: 30%;
    top: 10%;
    padding: 20px;
    box-shadow: 0 0 0 5px rgb(232, 232, 247);
}
.head{
    display: flex;
}
.label-name{
    width: 50%;
    margin: 20px;
}
.label-name-email{
    margin: 20px;
}
.label-name-email >input{
    margin-top: 15px;
     width: 530px;
     padding: 8px; 
     border: 1px solid rgb(139, 139, 137);
     outline-color: #2e69ff;
}
.label-name-gender{
    margin: 20px;
}
.label-name-gender >select{
    margin-top: 15px;
    width: 546px;
    padding: 8px;
    border: 1px solid rgb(139, 139, 137);
    outline-color: #2e69ff;
}
.label-name-country{
    margin: 20px;
}
.label-name-country > select{
    margin-top: 15px;
    width: 546px;
    padding: 8px;
    border: 1px solid rgb(139, 139, 137);
    outline-color: #2e69ff;
}
.label-name > label{
    font-size: 18px;
}
.label-name > span{
    padding-left: 5px;
    color: red;
}
.label-name > input{
    margin-top: 15px;
    width: 230px;
    padding: 8px;
    border: 1px solid rgb(139, 139, 137);
    outline-color: #2e69ff;
}
.label-name > select{
    margin-top: 15px;
    width: 230px;
    padding: 8px;
    border: 1px solid rgb(139, 139, 137);
    outline-color: #2e69ff;

}
.checkbox{
    width: 50%;
    margin:20px;
}
.checkbox > label{
    font-size: 18px;
}
.checkbox > input{
    width: 20px;
    height: 20px;
    margin-top: 14px;
}
.button{
    margin-left: 20px;
    margin-top: 10px;
    width: 540px;
    padding: 10px;
    color: white;
    background-color: #28a465;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.span{
    margin-left: 5px;
    color: red;
}