.img-section{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.image >img{
    height: 125px;
    width: 125px;
    border-radius: 73px;
}
.name{
    background: #2ebcae;
    height: auto;
    width: 639px; 
}
.name > h1,.name > h4{
    padding-left: 40px;
    color: #ffffff;
}
body{
    background-color: #f6f5f5;
}
.min-div{
    background-color:#ffffff ;
    position: absolute;
    left: 25%;
    top: 10%;
    width: 800px;
    height: 800px;
    border-radius: 5px;
}
.marks_heading{
    display: flex;
    justify-content: space-evenly;
    margin-top: 45px;
}
.marks_heading >h1{
    color: #2ebcae;
}
.line{
    border-bottom: 2px solid #2ebcae ;
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 5px;
}
.marks{
    display: flex;
    margin-top: 0;
}
.first1,.first2,.first3,.first4,.first5,.first6{
    padding-left: 200px;
}
.second1,.second4,.second5,.second6{
        padding-left: 275px;
}
.second2{
    padding-left: 268px;
}
.second3{
    padding-left: 270px;
}
